body {
    background-image: url('/login.jpg');
    font-family: 'Poppins', sans-serif; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
}


.login-container {
    
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fffbfb;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

/* Input focus effects */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #3a78d2;
    box-shadow: 0 10px 20px rgba(74, 144, 226, 0.3);
}

/* Message styling */
.message {
    margin-top: 20px;
    color: #ffffff;
}

.message a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s;
}

.message a:hover {
    color: #9013fe;
}

/* Error message styling */
#errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
